{% macro navbar() -%}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Tutorials For Github</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
      </ul>
    </div><!--/.nav-collapse -->
</nav>
{%- endmacro %}

{% macro list_items(posts) -%}
<div class="row">
{% for post in posts %}
<div class="col-md-12">
    <div class="well">
        <h2>{{ post['title'] }}</h2>
        <p>{{ post['content'] }}</p>
    </div>
</div>
{% endfor %}
</div>
{%- endmacro %}

{% macro footer() -%}
<hr>
<footer>
    <p>Created by Kevin Coxe available <a href="https://github.com/kevcoxe/tutorials_for_github"><i class="fa fa-github"></i>on my github</a></p>
</footer>
{%- endmacro %}
